.git
.idea
.run
.dart_tool
.venv
.pub-cache
.pub
build
coverage
data

__pycache__
**/__pycache__
*.pyc
*.pyo
*.log

.env
backend/.env
backend/web/*
!backend/web/.gitkeep
database.sqlite
backend/database.sqlite
uploads
backend/uploads

*.iml
.DS_Store
